td button.nostyle{
    margin:0 5px;
    padding:0;
    border:none;
    background-color: transparent;
    color: black;
    font-size: 17px;
}
td button.nostyle:hover{
    color: #bbb;
    background-color: transparent;
}

input.form-check-input:hover{
    cursor: pointer;
}

th,td{
    text-align: center;
}
input.form-check-input{
    position:absolute;
    right:50%;
    transform: translateX(50%);
}
div.form-check{
    position:relative;
    padding: 0;
}