a.navbar-brand{
    font-size: 25px;
}
a.navbar-brand:hover{
    color: #666;
}

div.container-fluid{
    max-width: 1280px;
}
div.user{
    color: #777;
    height: 100%;
}
button.nostyle{
    font-size: 25px;
    border: none;
    background-color: transparent;
    margin: 0 10px;
}
button.nostyle:hover{
    color: #666;
}
button.nostyle.dark {
    color: white;
}
button.nostyle.dark:hover {
    color: #666;
}


button.link {
    margin: 10px;
    padding: 0;
    background-color: transparent;
    border:none;
}
button.link:hover {
    color:#666
}
button.link.dark {
    color:white
}
button.link.dark:hover {
    color:#666
}
